In [1]:
import lxml
from lxml import html
import requests
import numpy as np
import pandas as pd

symbol = 'AAPL'

url = 'https://finance.yahoo.com/quote/' + symbol + '/balance-sheet?p=' + symbol

# Fetch the page that we're going to parse
page = requests.get(url)

# Parse the page with LXML, so that we can start doing some XPATH queries
# to extract the data that we want
tree = html.fromstring(page.content)

# Using XPATH, fetch all table elements on the page
table = tree.xpath('//table') 

# Ensure that there is only one table on the page; if there is more than
# one table, then it's possible that Yahoo Finance has changed their page
# structure. If this fails, please let me know which symbol you're trying
# to scrape in the comments below
assert len(table) == 1 

# Now that we've got the table element, convert it back to a string,
# so that it can be parsed by Pandas
tstring = lxml.etree.tostring(table[0], method='html')

# Read the HTML table into a Pandas DataFrame - read_html
# is designed to read HTML tables into a list of dataframe objects,
# one dataframe for each table.
df = pd.read_html(tstring)[0]

df.head()

,0,1,2,3,4
0,Period Ending,9/29/2018,9/30/2017,9/24/2016,9/26/2015
1,Current Assets,Current Assets,Current Assets,Current Assets,Current Assets
2,Cash And Cash Equivalents,25913000,20289000,20484000,21120000
3,Short Term Investments,40388000,53892000,46671000,20481000
4,Net Receivables,48995000,35673000,29299000,30343000